<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">CNP</label>

        <div id="cnp" class="col-sm-10 form-control-static">
            <span>{{detail.cnp}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Last Name</label>

        <div id="lastName" class="col-sm-10 form-control-static">
            <span>{{detail.person.lastName}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">First Name</label>

        <div id="firstName" class="col-sm-10 form-control-static">
            <span>{{detail.person.firstName}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Address</label>

        <div id="address" class="col-sm-10 form-control-static">
            <span>{{detail.person.address.streetName}}, </span>
            <span>{{detail.person.address.number}}, </span>
            <span>{{detail.person.address.city}}, </span>
            <span>{{detail.person.address.state}}, </span>
            <span>{{detail.person.address.country}}, </span>
        </div>
    </div>
</div>
<div>
    <hr>
    <h2>Courses</h2>
    <table class="table table-hover">
        <tr>
            <th>Subject</th>
            <th>Teacher</th>
        </tr>
        <tr ng-repeat="course in courses">
            <td>{{course.subject}}</td>
            <td>{{course.teacher.person.lastName}} {{course.teacher.person.firstName}}</td>
        </tr>
    </table>
</div>