<!DOCTYPE html>
<html lang="en" ng-app="sinu.student">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Technical University of Cluj-Napoca</title>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/sb-admin.css" rel="stylesheet"/>
    <link href="css/plugins/morris.css" rel="stylesheet"/>
    <link href="css/admin.css" rel="stylesheet"/>
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js"></script>
    <script src="/js/student.js"></script>
    <script src="/js/common.js"></script>
</head>
<body ng-controller="studentController">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Technical University of Cluj-Napoca</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="/" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                {{user.username}}</a>
        </li>
        <li>
            <a href="/logout" class="dropdown-toggle" data-toggle="dropdown">Logout</a>
        </li>
    </ul>
</nav>
<div id="page-wrapper">
    <div class="container-fluid">
        <div ng-view="true"></div>
    </div>
</div>
</body>
</html>