<div class="row">
    <label class="col-sm-2 control-label" for="subject">Subject</label>
    <div class="col-sm-10 sinu-input">
        <input type="text" ng-model="editDetail.subject" id="subject" class="form-control">
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label" for="teacher">Teacher</label>
    <div class="col-sm-10 sinu-input">
        <select name="teacher" id="teacher" ng-model="editDetail.teacher" class="form-control">
            <option ng-repeat="teacher in teachers" value="{{teacher}}">{{teacher.person.lastName}}
                {{teacher.person.firstName}}
            </option>
        </select>
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label" for="webpage">Webpage</label>
    <div class="col-sm-10 sinu-input">
        <input type="text" ng-model="editDetail.webpage" id="webpage" class="form-control">
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label" for="labTeachers">Lab teachers</label>
    <div class="col-sm-10 sinu-input">
        <select name="teacher" id="labTeachers" ng-model="editDetail.labTeachers" class="form-control" multiple>
            <option ng-repeat="teacher in teachers" value="{{teacher}}">{{teacher.person.lastName}}
                {{teacher.person.firstName}}
            </option>
        </select>
    </div>
</div>