<div class="row">
    <div class="col-md-9">
        <h1>
            Courses
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <table class="table table-hover">
            <tr>
                <th>Subject</th>
                <th>Teacher</th>
            </tr>
            <tr ng-repeat="course in courses" ng-click="details(course)">
                <td>{{course.subject}}</td>
                <td>{{course.teacher.person.lastName}} {{course.teacher.person.firstName}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6" ng-if="detail || editDetail">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right edit-buttons" ng-if="!isStudent">
                    <button type="button" class="btn btn-xs btn-default" ng-if="!editDetail && detail"
                            ng-click="delete()"><span class="fa fa-trash"></span> <span>Delete</span>
                    </button>
                    <button type="button" class="btn btn-xs btn-default" ng-click="edit()"
                            ng-if="!editDetail && detail"><span class="fa fa-pencil-square-o"></span>
                        <span>Edit</span>
                    </button>
                    <a class="btn btn-xs btn-default" ng-click="new()"> <span class="fa fa-plus"></span>
                        <span>New</span></a>
                </div>
                <h5 ng-if="detail">{{detail.subject}}</h5>
                <h5 ng-if="editDetail.subject">{{editDetail.subject}}</h5>
            </div>
            <div class="panel-body">
                <form name="form" novalidate class="form-horizontal"
                      ng-if="editDetail && !detail">
                    <div ng-include="'html/course/course-detail-edit.html'"></div>
                </form>
                <span ng-if="detail && !editDetail">
                    <div ng-include="'html/course/course-detail-view.html'">
                    </div>
                </span>
            </div>
            <div class="panel-footer text-right" ng-if="!!editDetail">
                <button type="button" class="btn btn-xs btn-default" ng-click="cancelEdit()">
                    <span class="fa fa-times"></span> <span>Cancel</span>
                </button>
                <button type="submit" class="btn btn-xs btn-primary" ng-click="save()"
                        ng-disabled="form.$pristine"><span class="fa fa-floppy-o"></span>
                    <span>Save</span>
                </button>
            </div>
        </div>
    </div>
</div>