<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Subject</label>

        <div id="subject" class="col-sm-10 form-control-static">
            <span>{{detail.subject}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Teacher</label>

        <div id="teacher" class="col-sm-10 form-control-static">
            <span>{{detail.teacher.person.lastName}} {{detail.teacher.person.firstName}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Webpage</label>

        <div id="webpage" class="col-sm-10 form-control-static">
            <a href="{{detail.webpage}}">{{detail.webpage}}</a>
        </div>
    </div>
    <div class="form-group">
        <label for="labTeachers" class="col-sm-2 control-label">Lab Teachers</label>

        <div class="col-sm-10 form-control-static" id="labTeachers">
            <ul class="list-unstyled">
                <li ng-repeat="teacher in detail.labTeachers">
                    <span> {{teacher.person.lastName}} {{teacher.person.firstName}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div ng-if="!isStudent">
    <hr>
    <div class="row">
        <div class="col-md-2"><h2>Students</h2></div>
        <div class="col-md-3 add-to-course" ng-if="isAdmin">
            <a class="btn btn-xs btn-default" ng-click="addToCourse()"> <span class="fa fa-plus"></span>
                <span>Add student to course</span></a>
        </div>
        <div class="col-md-4" id="select-student" ng-if="showAddStudent">
            <select name="student" id="student" ng-model="add.studentToAdd" class="form-control">
                <option ng-repeat="student in allStudents" value="{{student}}">{{student.person.lastName}}
                    {{student.person.firstName}}
                </option>
            </select>
        </div>
        <div class="col-md-2" id="add-student" ng-if="showAddStudent">
            <button type="submit" class="btn btn-xs btn-primary" ng-click="addStudentToCourse()"
                    ng-disabled="form.$pristine"><span class="fa fa-plus"></span>
                <span>Add</span>
            </button>
        </div>
    </div>
    <table class="table table-hover">
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
        </tr>
        <tr ng-repeat="student in students">
            <td>{{student.person.lastName}}</td>
            <td>{{student.person.firstName}}</td>
        </tr>
    </table>
</div>
