.edit-buttons {
    margin-top: 6px;
}

.sinu-input {
    float: left;
    margin-bottom: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.icon {
    margin-right: 7px;
}

.add-to-course {
    margin-top: 28px;
}

#select-student {
    margin-top: 22px;
}

#add-student {
    margin-top: 22px;
    padding: 7px 20px;
}