<div class="row">
    <label class="col-sm-2 control-label" for="firstName">First Name</label>
    <div class="col-sm-10 sinu-input">
        <input type="text" ng-model="editDetail.person.firstName" id="firstName" class="form-control">
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label" for="lastName">Last Name</label>
    <div class="col-sm-10 sinu-input">
        <input type="text" ng-model="editDetail.person.lastName" id="lastName" class="form-control">
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label">Address</label>
    <hr>
</div>
<div class="row">
    <label class="col-sm-2 control-label" for="streetName">Street Name</label>
    <div class="col-sm-10 sinu-input">
        <input type="text" ng-model="editDetail.person.address.streetName" id="streetName" class="form-control">
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label" for="number">Number</label>
    <div class="col-sm-10 sinu-input">
        <input type="text" ng-model="editDetail.person.address.number" id="number" class="form-control">
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label" for="city">City</label>
    <div class="col-sm-10 sinu-input">
        <input type="text" ng-model="editDetail.person.address.city" id="city" class="form-control">
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label" for="state">State</label>
    <div class="col-sm-10 sinu-input">
        <input type="text" ng-model="editDetail.person.address.state" id="state" class="form-control">
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label" for="country">Country</label>
    <div class="col-sm-10 sinu-input">
        <input type="text" ng-model="editDetail.person.address.country" id="country" class="form-control">
    </div>
</div>

